:root { 
--lime_700_28:#c99c3328; 
--gray_400:#c0bebe; 
--blue_gray_100:#d9d9d9; 
--lime_700:#c99c33; 
--indigo_900_a5:#071e94a5; 
--blue_gray_900_d6:#242c3bd6; 
--gray_500_d6:#acacacd6; 
--black_900_3f:#0000003f; 
--lime_700_35:#c99c3335; 
--indigo_900_ed:#071e94ed; 
--indigo_900_cc:#071e94cc; 
--white_A700_77:#ffffff77; 
--indigo_900_dd:#071e94dd; 
--lime_700_a8:#c99c33a8; 
--black_900:#000000; 
--gray_400_01:#bfbdbd; 
--lime_700_b2:#c99c33b2; 
--lime_700_c4:#c99c33c4; 
--lime_700_a0:#c99c33a0; 
--white_A700:#ffffff; 
}